<!--
  MTurk UI that takes .csv with youtube id, start time, end time, and labels
  and displays a blurred video and asks users to describe the auditory scene
  
  Justin Goodman
  Marc Moore
  -->
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
<meta content="width=device-width,initial-scale=1" name="viewport" />
<script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<section class="container">
  <!-- Instructions -->
  <div class="row">
    <div class="col-sm-12">
      <div class="accordian">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h3 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="instrLink" style="color: red;"><b>Instructions</b> (Please read if this is your first time) (Click to expand)</a>
            </h3>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" id="instructionBody">
              <section>
                <p><b>TL;DR:</b> We are artificial intelligence researchers looking to create a dataset. We want you to caption (with 1 sentence) a video <em>focusing on the audio content</em>. For this HIT we intentionally blur the video so that the visual content provides context to describe the audio.</p>
                <p><b>NOTE: IF YOU CAN SEE THE VIDEO WITHOUT A BLUR, DO NOT ACCEPT THIS HIT!</b></p>
                <p>If you are using Internet Explorer, the blur effect will not work. Instead, you should do another HIT for us where we have a black screen instead!</p>
                <p>If you do NOT have an ad-blocker on your browser, please do NOT accept these HITs. Ads will interfere with what you hear in the YouTube video. Since you cannot see the YouTube video, you may not know an advertisement is playing. Here is an excellent ad-blocker: <a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm?hl=en-US" target="_blank">for Chrome</a>, <a href="https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/" target="_blank">for Firefox</a>.</p>
              </section>
              <section>
                <h4>STEPS TO SUCCESSFULLY COMPLETE THESE HITS:</h4>
                <ol>
                  <li>Click the <span><button class="btn btn-primary" onclick="" type="button">Play Video</button></span> button and listen to the video.
                    <ul>
                      <li><b style="color: red;">IMPORTANT:</b> You should see a blur over the video. Our goal with this dataset is to understand how much of human scene understanding is based on audio information. Thus, if you can see the unblurred video then your response to this HIT is useless.</li>
                      <li>The YouTube video player will then play the specified 10-30 second clip for you. The 'Play Video' button will change to a <span><button class="btn btn-primary" onclick="" type="button">Pause Video</button></span> button. The clip will play on repeat until you click the 'Pause Video' button.</li>
                      <li><b>Controls in the YouTube player are disabled</b>. We disabled the controls so we can show you one specific part of the video.</li>
                    </ul>
                  </li>
                  <li>Annotate the video with <b>1 descriptive sentence</b> in the <span><textarea rows="1" placeholder="Describe here..."></textarea></span> textbox.
                    <ul>
                      <li>Your annotation should be in English.</li>
                      <li>Be confident in your answer. You are allowed to <b>use creativity to infer</b> what might be going on in the scene, but <b>base all of your descriptions on the audio</b>.</li>
                      <li>Your response should be a complete sentence. If your sentence is too short <b>we will reject your response</b>.</li>
                      <li>Feel free to write more than 1 sentence. Please use a period and a space, like you would write a normal paragraph, to separate your sentences.</li>
                      <li><b>AVOID spelling mistakes and grammatical mistakes</b>.</li>
                      <li>AVOID using self-referring phrases. We know these are your thoughts and we know you're talking about the video. Example phrases (DO NOT USE THESE):
                        <ul>
                          <li>'i think'</li>
                          <li>'it seems like'</li>
                          <li>'this sounds like'</li>
                          <li>'the video appears to be'</li>
                          <li>'i guess'</li>
                          <li>'YouTube'</li>
                          <li>etc...</li>
                        </ul>
                      </li>
                      <li>Example description: In the blurred frame you see a lot of green and some dark blobs. In the audio scene you hear a ball being kicked and then a loud cheer from what sounds like thousands of people. You might write the following:
                        <ul>
                          <li>two teams play a game of soccer in a large green field. one player kicks a ball down the field, and a goal is scored and the crowd in the stadium cheers.</li>
                        </ul>
                        The video may actually be of an American football fieldgoal shot, but if it sounds like soccer to you then specify that!
                      </li>
                      <li>Here is a list of some things to think about for your descriptions. Do not limit yourself to this list; it may or may not apply to your video:
                        <ul>
                          <li>Where do you think this is taking place?</li>
                          <li>Do you hear any people or animals? How many? What do you think they're doing?</li>
                          <li>If you hear music, consider the instruments or the genre.</li>
                          <li>If you hear speech, think about the age or gender of the speaker, where they might be, and why they're speaking.</li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>Click <span><button class="btn btn-primary" onclick="" type="button">Submit Answer</button></span>! Thank you for completing our HIT!</li>
                </ol>
                <p><b>Note</b>: If this is your first time doing these HITs, please tell us, in the first comments box, your favorite color just so we know you read the instructions :) (you should only do this on your first time!).</p>
              </section>
              <section>
                <h4>ABOUT US:</h4>
                <p>Our names are Justin Goodman and Marc Moore. We are undergraduate researchers working on a data-expansion research project for University of Rochester's <a href="http://www.sas.rochester.edu/dsc/undergraduate/reu.html" target="_blank">Computational Methods</a> <a href="https://www.nsf.gov/crssprgm/reu/" target="_blank">REU</a> program. We are working under Dr. Chenliang Xu, a well-established computer vision researcher. With this dataset we hope to understand the subtle differences in features we notice in visual versus audio information. We hope to combine the differences in visual and audio information to help an artifiial intelligence gain a better understanding of a scene. Thank you for helping us complete our research project!</p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Instructions -->
  <hr />
  <!-- Video matching layout -->
  <div class="row" id="workContent">
    <div class="col-sm-8">
      <h3 id="ass">Assignment:</h3>
      <h3 id="ieOnly" style="display: none; color: red;">It seems like you're using Internet Explorer. You should do our black screen version of this HIT!</h3>
      <h3 id="noAdBlock" style="display: none; color: red;">It seems that you are not using an Ad-Blocker. The YouTube video player may, unknown to you, display an advertisement which will mess up your interpretation of the video.</h3>
      <br />
      <br />
      <div class="blur">
        <div id="ieBlur" style="display: none;"></div>
        <iframe id="player" width="640" height="360" src="https://www.youtube.com/embed/${ytid}?enablejsapi=1&amp;start=${start}&amp;end=${end}" filter="url(#svgBlur)" style="pointer-events: none;"></iframe>
      </div>
      <br />
      <br />
      <button class="btn btn-primary" onclick="play(this);" type="button">Play Video</button>
      <br />
      <div id="response-form" class="form-group" style="display: none;">
        <!-- why are you looking here, get out! -->
        <input name="identifier" type="hidden" value="audio" />
        <input name="ytid" type="hidden" value="${ytid}" />
        <input name="category" type="hidden" value="${category}" />
        <input name="clickedPlay" type="hidden" value="0" id="dummy" />
        <input name="clickedInstructions" type="hidden" value="0" id="instr" />
        <input name="youtubeError" type="hidden" value="0" id="yt-error" />
        <input name="userAgent" type="hidden" value="" id="ua" />
        <input name="hasAdBlock" type="hidden" value="1" id="adb" />
      </div>
    </div>
    <!-- Worker input -->
    <div class="col-sm-4">
      <div class="form-group">
        <h4>Annotate the video (1 sentence):</h4>
        <center>
          <p>Remember, <b>focus on the audio</b>. The blurred visual is just for context - the more you describe the audio, the better the quality.</p>
        </center>
        <textarea class="form-control" name="response" rows="6" cols="250" placeholder="Describe here..." required></textarea>
        <br />
        <label>Comments on this assignment (optional):</label>
        <textarea class="form-control" name="comments" rows="2" cols="250"></textarea>
        <br />
        <label>Comments to improve these HITs (optional):</label>
        <textarea class="form-control" name="improve" rows="2" cols="250"></textarea>
      </div>
      <input type='submit' id='submitButton' class="submit btn btn-primary" value='Submit Answer' />
    </div>
  </div>
</section>
<!-- End Video matching layout -->
<svg>
  <filter id="svgBlur">
    <feGaussianBlur stdDeviation="30" />
  </filter>
</svg>
<!-- Open internal style sheet -->
<style type="text/css">
  .blur {
    /* none of this shit works on IE */
    filter: url(#svgBlur);
    -webkit-filter: blur(30px) opacity(0.80);
    filter: blur(30px) opacity(0.80);
    /* This is for IE 4 and up */
    filter: Blur(Strength=20);
    /* This is for IE 5.5 and up */
    filter: progid:DXImageTransform.Microsoft.blur(pixelradius=30);
  }
  #ieBlur {
    z-index: 3;
    height: 360px;
    width: 640px;
    position: absolute;
    color: black;
    background-color: black;
  }
</style>
<style type="text/css">
  #submitButton {
  white-space: normal;
  }
  /* CSS for breaking long words/urls */
  .dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  }
</style>
<!-- End internal style sheet -->
<!-- External JS references -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- REU-2018 script code -->
<script type="text/javascript">
  // --- general variables
  var firstScriptTag;
  var player;
  var ua = window.navigator.userAgent;
  // --- document object variables
  var tag = document.createElement('script');
  var err = $("#yt-error");
  var instr = $("#instr");
  // --- script code
  //document.documentElement.setAttribute("data-agent", navigator.userAgent);
  $('#ua').val(ua);
  //if (/*@cc_on!@*/false) {
  if (ua.indexOf('MSIE ') > 0 || ua.indexOf('Trident/') > 0) {
    $('#ieOnly').css('display', 'block');
    $('#ieBlur').css('display', 'block');
  }
  // set onclick for instructions
  $('#instrLink').on('click', instrClicked);
  // youtube api code
  tag.id = 'yt-api';
  tag.src = 'https://www.youtube.com/iframe_api';
  firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  window.onYouTubeIframeAPIReady = function() {
    player = new YT.Player('player', {events: {'onReady': ready, 'onStateChange': change, 'onError': error}});
  }
  // --- functions
  function instrClicked() {
    instr.val(1);
  }
  // control functions
  function ready(event) {
    player.getIframe().setAttribute("style", "pointer-events: none;");
    if (player.isMuted()) {
      player.unMute();
    }
  }
  function change(event) {
    if (event.data == YT.PlayerState.ENDED) {
      player.loadVideoById({'videoId': '${ytid}','startSeconds': ${start},'endSeconds': ${end},'suggestedQuality': 'large'});
    }
  }
  function error(event) {
    err.val(1);
  }
  var first = true;
  function play(ele) {
    player.playVideo();
    if (first) {
      first = false;
      document.getElementById("dummy").setAttribute("value", "1");
    }
    ele.setAttribute("onclick", "pause(this);");
    ele.textContent = "Pause Video";
  }
  function pause(ele) {
    player.pauseVideo();
    ele.setAttribute("onclick", "play(this);");
    ele.textContent = "Play Video";
  }
</script>
<!-- End REU script -->
<script src="https://cdn.jsdelivr.net/npm/fuckadblock@3.2.1/fuckadblock.min.js" integrity="sha256-xjwKUY/NgkPjZZBOtOxRYtK20GaqTwUCf7WYCJ1z69w=" crossorigin="anonymous" ></script><!-- need this to detect adblock -->
<script>
  // Function called if AdBlock is not detected
  function adBlockNotDetected() {
    document.getElementById('adb').value = '0';
    document.getElementById('noAdBlock').style.display = 'block';
  }
  // Function called if AdBlock is detected
  function adBlockDetected() {
    document.getElementById('adb').value = '1';
    document.getElementById('noAdBlock').style.display = 'none';
  }

  // We look at whether FuckAdBlock already exists.
  if(typeof fuckAdBlock !== 'undefined' || typeof FuckAdBlock !== 'undefined') {
    // If this is the case, it means that something tries to usurp are identity
    // So, considering that it is a detection
    adBlockDetected();
  } else {
    // Otherwise, you import the script FuckAdBlock
    var importFAB = document.createElement('script');
    importFAB.onload = function() {
      // If all goes well, we configure FuckAdBlock
      fuckAdBlock.onDetected(adBlockDetected)
      fuckAdBlock.onNotDetected(adBlockNotDetected);
    };
    importFAB.onerror = function() {
      // If the script does not load (blocked, integrity error, ...)
      // Then a detection is triggered
      adBlockDetected(); 
    };
    importFAB.integrity = 'sha256-xjwKUY/NgkPjZZBOtOxRYtK20GaqTwUCf7WYCJ1z69w=';
    importFAB.crossOrigin = 'anonymous';
    importFAB.src = 'https://cdnjs.cloudflare.com/ajax/libs/fuckadblock/3.2.1/fuckadblock.min.js';
    document.head.appendChild(importFAB);
  }
</script>
