<!--
  MTurk UI that takes .csv with youtube id, start time, end time, and label
  and displays said video (should be 1-sec) to the user repeatedly

  Justin Goodman
  Marc Moore
  -->
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
<meta content="width=device-width,initial-scale=1" name="viewport" />
<script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<section class="container">
  <!-- Instructions -->
  <div class="row">
    <div class="col-sm-12">
      <div class="accordian">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h3 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="instrLink" style="color: blue;"><b>Instructions</b> (Please read if this is your first time) (Click to expand)</a>
            </h3>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" id="instructionBody">
              <p><b>TL;DR:</b> We are artificial intelligence researchers looking to create a small dataset. Given a label of some sounds, we want to annotate <em>where</em>, in a 1-second video clip, you <em>see</em> the object <em>producing</em> those sounds.</p>
              <p>If you are using Internet Explorer 8 or below, or you are on a mobile device, please do not accept these HITs as they will not work.</p>
              <h4>STEPS TO SUCCESSFULLY COMPLETE THESE HITS:</h4>
              <ol>
                <li>Look at the label that describes the sounds you will hear in this video. These video clips are guaranteed to have visible objects making sounds described by the label.</li>
                <li>Click the <span><button class="btn btn-primary" onclick="" type="button">Play Video</button></span> button and watch the video.
                  <ul>
                    <li>IF YOU DO NOT PLAY THE VIDEO WE WILL BLOCK YOU. The beginning thumbnail the video shows you is different than your actual clip. If you proceed with this task without playing the video then you will be doing the task completely incorrect.</li>
                    <li>The video player will then play the specified 1-second clip for you. The 'Play Video' button will change to a <span><button class="btn btn-primary" onclick="" type="button">Pause Video</button></span> button. The clip will play on repeat until you click the 'Pause Video' button.</li>
                    <li><b>Controls in the video player are disabled</b>. We disabled the controls so we can show you one specific part of the video.</li>
                  </ul>
                </li>
                <li>Use the grid overlay to color in the boxes that cover the object(s) making the described sounds.
                  <ul>
                    <li>If the object moves during your clip, then cover the area where the object is at the <b>start</b> of the clip.</li>
                    <li>We are looking for accuracy. Covering too little of the object does not help us. Covering more boxes than the object has does not help us. Please do not click any square that is not part of the object.</li>
                    <li>For <b>human</b> objects (baby, female, male, ...) <b>ONLY</b> highlight the <b>head area</b>.</li>
                    <li>For <b>non-human</b> objects (frying food, goat, train, ...) highlight the whole object. If the label is 'bark' you should highlight the whole dog. If the label is 'train horn' you should highlight the whole train. etc...</li>
                    <li>If a human is playing an instrument, <b>DO NOT</b> highlight the human - ONLY THE INSTRUMENT.</li>
                    <li>There may be multiple different instruments seen in the clip. ONLY highlight the instrument provided by the label. Example: if you see a banjo and a guitar, but the label is banjo, you should ONLY highlight the banjo.</li>
                    <li>If there are two objects, and only ONE makes noise, then ONLY label the one making noise. If both objects make noise, please label both.</li>
                    <li>If the object is too small for you to find, then skip the HIT.</li>
                  </ul>
                </li>
                <li>Click submit! Thank you for completing our HIT!</li>
              </ol>
              <p><b>Note</b>: If this is your first time doing these HITs, please tell us, in the first comments box, your favorite <b>song</b> just so we know you read the instructions :) (you only need to do this once!).</p>
              <h4 id="ann">HOW TO USE THE ANNOTATOR:</h4>
              <p>You should see a grid overlay on the provided video. The grid is 32 boxes wide by 18 boxes tall. When you play the video, you will see (an) object(s) (any size) that produces sounds described by the given label. You should highlight the boxes that contain the object(s) for your 1-second clip. If the object moves, highlight the boxes at the beginnning of your clip. To highlight a box, simply left click the box. To un-highlight a box, simply left click the same box. You can click-and-drag to select/de-select multiple boxes. To clear your selection, press the <span><button class="btn btn-danger" onclick="" type="button">Clear Selection</button></span> button.</p>
              <ul>
                <li>Example: if the label is 'Oink' and you see a pig in the clip in the top-left corner, you would highlight the boxes with the pig in the top-left corner.</li>
                <li>Example: if the label is 'Speech' and you see a person in the center of the clip, your highlighted boxes should paint only the face.</li>
              </ul>
              <div class="row">
                <div class="col-sm-6 center-block text-center">
                  <img src="https://vatbox.cs.rochester.edu/spatial/good.jpg" />
                  <p style="color: green; font-size: xx-large;"><b>GOOD</b></p>
                </div>
                <div class="col-sm-6 center-block text-center">
                  <img src="https://vatbox.cs.rochester.edu/spatial/bad-1.jpg" />
                  <p style="color: red; font-size: xx-large;"><b>BAD</b></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 enter-block text-center">
                  <img src="https://vatbox.cs.rochester.edu/spatial/bad-2.jpg" />
                  <p style="color: red; font-size: xx-large;"><b>BAD</b></p>
                </div>
                <div class="col-sm-6 center-block text-center">
                  <img src="https://vatbox.cs.rochester.edu/spatial/bad-3.jpg" />
                  <p style="color: red; font-size: xx-large;"><b>BAD</b></p>
                </div>
              </div>
              <h4>ABOUT US:</h4>
              <p>Our names are <a href="http://terpconnect.umd.edu/~jugoodma" target="_blank">Justin Goodman</a> and Marc Moore. We are undergraduate researchers working on a data-expansion research project for University of Rochester's <a href="http://www.sas.rochester.edu/dsc/undergraduate/reu.html" target="_blank">Computational Methods</a> <a href="https://www.nsf.gov/crssprgm/reu/" target="_blank">REU</a> program. We are working under Dr. Chenliang Xu, a well-established computer vision researcher. We are pulling from an already-labeled subset of the <a href="https://research.google.com/audioset/" target="_blank">Google AudioSet</a> dataset. Thank you for helping us complete our research project!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Instructions -->
  <hr />
  <!-- Video annotator -->
  <div class="row" id="workContent">
    <div class="col-md-8">
      <h3 id="ass">Assignment:</h3>
      <video height="10px" width="640px"><p class="red">It seems like your browser is out-dated. Please do not complete these HITs!</p></video>
      <div id="grid-overlay" >
        <table id="grid-table" onmouseup="stop();" ondragstart="return false;" ondrop="return false;" oncontextmenu="return false;"></table>
        <video id="player" width="640" height="360" style="pointer-events: none;">
          <source src="https://vatbox.cs.rochester.edu/spatial/videos/${ytid}.mp4" type="video/mp4" onerror="error();"> <!-- INSERT YOUR SERVER HERE -->
          <p>Looks like your browser is out-dated. You should skip this HIT!</p>
        </video>
      </div>
      <p>Reminder: you can click-and-drag to select/de-select multiple boxes.</p>
      <br />
      <p id="loading" class="red">Looks like our code had an error or the video is unavailable. You should skip this HIT! Sorry for the inconvenience.</p>
      <p class="hide" id="errorMessage">Please indicate where the object is located.</p>
      <button class="btn btn-primary" type="button" id="play" style="margin-right: 20px;">Play Video</button>
      <button class="btn btn-danger" onclick="clearSelection();" type="button">Clear Selection</button>
      <div id="response-form" class="form-group" style="display: none;">
        <!-- why are you looking here, get out! -->
        <input name="identifier" type="hidden" value="spatial" />
        <input name="ytid" type="hidden" value="${ytid}" />
        <input name="clickedPlay" type="hidden" value="0" id="dummy" />
        <input name="clickedInstructions" type="hidden" value="0" id="instr" />
        <input name="youtubeError" type="hidden" value="0" id="yt-error" />
        <input name="userAgent" type="hidden" value="" id="ua" />
      </div>
    </div>
    <!-- Worker input -->
    <div class="col-md-4">
      <h4>Label for this video: <b>${label}</b></h4>
      <p>Please annotate using the grid over the video on the left side.</p>
      <div class="form-group">
        <label>Comments on this assignment (optional):</label>
        <textarea class="form-control" name="comments" rows="2" cols="250"></textarea>
        <br />
        <label>Comments to improve these HITs (optional):</label>
        <textarea class="form-control" name="improve" rows="2" cols="250"></textarea>
      </div>
      <!-- this is the 'check' button to check if the user actually annotated -->
      <button id="checkButton" class="submit btn btn-primary" type="button">Submit Answer</button>
      <!-- this is the actual submit button -->
      <input type="submit" id="submitButton" style="display: none;" />
    </div>
  </div>
  <!-- End Video Annotator -->
</section>

<!-- Open internal style sheet -->
<style type="text/css">
  #checkButton {
    white-space: normal;
  }
  /* CSS for breaking long words/urls */
  .dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
</style>
<!-- REU-2018 style code -->
<style type="text/css">
  img {
    max-width: 100%;
    height: auto;
  }
  label {
    font-weight: 100 !important;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
    color: red;
  }
  .red {
    color: red;
  }
  .blue {
    color: blue;
  }
  #grid-overlay {
    width: 640px;
    height: 360px;
  }
  #grid-table {
    z-index: 3;
    width: 640px;
    height: 360px;
    position: absolute;
  }
  .selected {
    background: rgba(255,69,0,0.5);
  }
  table, td {
    border: 1px solid red;
    border-collapse: collapse;
  }
</style>
<!-- End REU-2018 style code -->
<!-- End internal style sheet -->
<!-- External JS references -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- REU-2018 script code -->
<script>
  // --- general variables
  var i;
  var c;
  var start_time = ${start};
  var end_time = ${end};
  var row;
  var col;
  var num_rows = 18;
  var num_cols = 32;
  var num_cells = num_rows * num_cols;
  var num;
  var selector = false;
  var eraser = false;
  var first = true;
  // --- document object variables
  var tbl = $("#grid-table");
  var form = $("#response-form");
  var tbl_row;
  var inputRes = [num_cells]; // array of <input /> objects
  var locRes = [num_cells]; // array of loc-x objects
  var dummy = $("#dummy");
  var err = $("#yt-error");
  var instr = $("#instr");
  var player = $("#player");
  var plget = player.get(0);
  var loadText = $("#loading");
  var playButton = $("#play").on('click', play);
  // --- runtime script code
  loadText.html("Loading video (this may take a second)...");
  player.on('timeupdate', check).on('error', error).on('canplay', ready).on('volumechange', vol);
  // get user agent
  $('#ua').val(window.navigator.userAgent);
  $('#checkButton').on('click', checkAnn);
  // set onclick for instructions
  $('#instrLink').on('click', instrClicked);
  // generate table overlay and corresponding form data
  for (row = 0; row < num_rows; row++) {
    tbl_row = $(document.createElement("tr"));
    for (col = 0; col < num_cols; col++) {
      num = (row * num_cols) + col;
      // table locations
      locRes[num] = $(document.createElement("td")).attr({
        'id': 'loc-' + num,
        'onmouseover': 'hover(' + num + ');',
        'onmousedown': 'start(event, ' + num + ');',
        'data-selected': false
      }).appendTo(tbl_row);
      // form
      inputRes[num] = $('<input type="hidden" />').attr({
        'id': 'input-' + num,
        'name': 'loc-' + (num < 100 ? (num < 10 ? '00' : '0') : '') + num,
        'value': 0
      }).appendTo(form);
    }
    tbl.append(tbl_row);
  }
  // --- functions
  function checkAnn() {
    for (i = 0; i < num_cells && inputRes[i].val() === '0'; i++) {}
    if (i < num_cells) {
      // user put in at least one annotation, yay!
      $('#errorMessage').removeClass('show').addClass('hide');
      $('#submitButton').click();
    } else {
      // user did not annotate, BAD :()
      $('#errorMessage').removeClass('hide').addClass('show');
    }
  }
  // handler code for grid coloring
  function start(event, num) {
    selector = true;
    eraser = event.button === 2 || locRes[num].attr('data-selected') === 'true';
    hover(num);
  }
  function hover(num) {
    if (selector) {
      if (eraser) {
        locRes[num].attr({'data-selected': false}).removeClass('selected');
        inputRes[num].val(0);
      } else {
        locRes[num].attr({'data-selected': true}).addClass('selected');
        inputRes[num].val(1);
      }
    }
  }
  function stop() {
    selector = false;
  }
  function clearSelection() {
    for (row = 0; row < num_rows; row++) {
      for (col = 0; col < num_cols; col++) {
        num = (row * num_cols) + col;
        locRes[num].attr({'data-selected': false}).removeClass('selected');
        inputRes[num].val(0);
      }
    }
  }
  function instrClicked() {
    instr.val(1);
  }
  function ready() {
    plget.loop = true;
    plget.muted = false;
    loadText.html("Ready for playback!").removeClass('red').addClass('blue');
  }
  function check() {
    c = plget.currentTime;
    if (c < start_time || c > end_time) {
      plget.currentTime = start_time;
    }
  }
  function vol() {
    plget.muted = false;
  }
  function error() {
    loadText.html("Uh oh! Something went wrong. Please do not accept this HIT!").removeClass('blue').addClass('red');
    err.val(1);
  }
  function play(ele) {
    plget.play();
    if (first) {
      first = false;
      dummy.val(1);
    }
    playButton.off().on('click', pause).html('Pause Video');
  }
  function pause(ele) {
    plget.pause();
    playButton.off().on('click', play).html('Play Video');
  }
</script>
<!-- End REU script -->
<!-- Close internal javascript -->
