<!--
  MTurk UI that takes .csv with youtube id, start time, end time, and label
  and displays said video (should be 1-sec) to the user repeatedly

  Justin Goodman
  Marc Moore
  -->
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
<meta content="width=device-width,initial-scale=1" name="viewport" />
<script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<section class="container">
  <!-- Instructions -->
  <!-- End Instructions -->
  <hr />
  <!-- Video annotator -->
  <div class="row" id="workContent">
    <div class="col-md-8">
      <h3 id="ass">Assignment:</h3>
      <div id="grid-overlay" >
        <table id="grid-table" onmouseup="stop();" ondragstart="return false;" ondrop="return false;" oncontextmenu="return false;"></table>
        <iframe id="player" width="640" height="360" src="https://www.youtube.com/embed/${ytid}?enablejsapi=1&start=${start}&end=${end}" frameborder="0" style="border: solid 4px #37474F; pointer-events: none;"></iframe>
      </div>
      <br />
      <p class="hide" id="errorMessage">Please indicate where the object is located.</p>
      <button class="btn btn-primary" type="button" id="play" style="margin-right: 20px;">Play Video</button>
      <button class="btn btn-danger" onclick="clearSelection();" type="button">Clear Selection</button>
      <div id="response-form" class="form-group" style="display: none;">
        <!-- why are you looking here, get out! -->
        <input name="identifier" type="hidden" value="spatial" />
        <input name="ytid" type="hidden" value="${ytid}" />
        <input name="userAgent" type="hidden" value="" id="ua" />
      </div>
    </div>
    <!-- Worker input -->
    <div class="col-md-4">
      <h4>Label for this video: <b>${label}</b></h4>
      <p>Click the button below if the grid does not color itself.</p>
      <br />
      <button class="btn btn-danger" onclick="run();">Color Grid</button>
    </div>
  </div>
  <!-- End Video Annotator -->
</section>

<!-- Open internal style sheet -->
<style type="text/css">
  #checkButton {
    white-space: normal;
  }
  /* CSS for breaking long words/urls */
  .dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
</style>
<!-- REU-2018 style code -->
<style type="text/css">
  label {
    font-weight: 100 !important;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
    color: red;
  }
  #grid-overlay {
    width: 640px;
    height: 360px;
  }
  #grid-table {
    z-index: 3;
    width: 640px;
    height: 360px;
    position: absolute;
  }
  .selected {
    background: rgba(255,69,0,0.5);
  }
  table, td {
    border: 1px solid red;
    border-collapse: collapse;
  }
</style>
<!-- End REU-2018 style code -->
<!-- End internal style sheet -->
<!-- External JS references -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- REU-2018 script code -->
<script>
  // --- general variables
  var i;
  var row;
  var col;
  var num_rows = 18;
  var num_cols = 32;
  var num_cells = num_rows * num_cols;
  var num;
  var padding;
  var selector = false;
  var eraser = false;
  var data = ${dankmemes};
  // --- document object variables
  var tbl = $("#grid-table");
  //var form = $("#response-form");
  var tbl_row;
  var inputRes = [num_cells]; // array of <input /> objects
  var locRes = [num_cells]; // array of loc-x objects
  var tag = document.createElement('script');
  var firstScriptTag;
  var player;
  var playButton = $("#play").on('click', play);
  // --- runtime script code
  // youtube api code
  tag.id = 'yt-api';
  tag.src = 'https://www.youtube.com/iframe_api';
  firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  window.onYouTubeIframeAPIReady = function() {
    player = new YT.Player('player', {events: {'onReady': ready, 'onStateChange': change, 'onError': error}} );
  }
  // generate table overlay and corresponding form data
  for (row = 0; row < num_rows; row++) {
    tbl_row = $(document.createElement("tr"));
    for (col = 0; col < num_cols; col++) {
      num = (row * num_cols) + col;
      // table locations
      locRes[num] = $(document.createElement("td")).attr({
        'id': 'loc-' + num,
        'onmouseover': 'hover(' + num + ');',
        'onmousedown': 'start(event, ' + num + ');',
        'data-selected': false
      }).appendTo(tbl_row);
      // form
      //inputRes[num] = $('<input type="hidden" />').attr({
      //  'id': 'input-' + num,
      //  'name': 'loc-' + (num < 100 ? (num < 10 ? '00' : '0') : '') + num,
      //  'value': 0
      //}).appendTo(form);
    }
    tbl.append(tbl_row);
  }
  // show the data
  run();
  // --- functions
  function run() {
    for (row = 0; row < num_rows; row++) {
      for (col = 0; col < num_cols; col++) {
        num = (row * num_cols) + col;
        locRes[num].addClass((data[num] === "1" ? 'selected' : ''));
      }
    }
  }
  // handler code for grid coloring
  function start(event, num) {
    selector = true;
    eraser = event.button === 2 || locRes[num].attr('data-selected') === 'true';
    hover(num);
  }
  function hover(num) {
    if (selector) {
      if (eraser) {
        locRes[num].attr({'data-selected': false}).removeClass('selected');
        inputRes[num].val(0);
      } else {
        locRes[num].attr({'data-selected': true}).addClass('selected');
        inputRes[num].val(1);
      }
    }
  }
  function stop() {
    selector = false;
  }
  function clearSelection() {
    for (row = 0; row < num_rows; row++) {
      for (col = 0; col < num_cols; col++) {
        num = (row * num_cols) + col;
        locRes[num].attr({'data-selected': false}).removeClass('selected');
      }
    }
  }
  // event functions
  function ready(event) {
    player.unMute();
  }
  function change(event) {
    if (event.data == YT.PlayerState.ENDED) {
      player.loadVideoById({'videoId': '${ytid}','startSeconds': ${start},'endSeconds': ${end},'suggestedQuality': 'large'});
    }
  }
  function error(event) {
  }
  // control functions
  function play(ele) {
    player.playVideo();
    playButton.off().on('click', pause).html('Pause Video');
  }
  function pause(ele) {
    player.pauseVideo();
    playButton.off().on('click', play).html('Play Video');
  }
</script>
<!-- End REU script -->
<!-- Close internal javascript -->
