<!--
  MTurk UI that takes .csv with youtube id, start time, end time, and labels
  and displays said video (should be 1sec) to the user repeatedly
  
  Justin Goodman
  Marc Moore
  -->
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
<meta content="width=device-width,initial-scale=1" name="viewport" />
<script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<section class="container">
  <!-- Instructions -->
  <div class="row">
    <div class="col-sm-12">
      <div class="accordian">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h3 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="instrLink" style="color: red;"><b>Instructions</b> (Please read if this is your first time) (Click to expand)</a>
            </h3>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" id="instructionBody">
              <p><b>TL;DR:</b> We are artificial intelligence researchers looking to expand our dataset. Given a label of some sounds, we want to annotate <em>when</em>, in a 10-second video, you <em>see</em> the object actually <em>producing</em> those sounds. Sometimes the video will not show the object or the object may not make the sounds, so you should handle that video accordingly.</p>
              <p>If you are using Internet Explorer 8 or below, please do not accept these HITs as we cannot guarantee they'll work.</p>
              <h4>STEPS TO SUCCESSFULLY COMPLETE THESE HITS:</h4>
              <ol>
                <li>Look at the label, and description of the label, that describes the sounds you will hear in this video.</li>
                <li>Click the <span><button class="btn btn-primary" onclick="" type="button">Play Video</button></span> button and watch the video.
                  <ul>
                    <li>The YouTube video player will then play the specified 10-second clip for you. The 'Play Video' button will change to a <span><button class="btn btn-primary" onclick="" type="button">Pause Video</button></span> button. The clip will play on repeat until you click the 'Pause Video' button.</li>
                    <li><b>Controls in the YouTube player are disabled</b>. We disabled the controls so we can show you one specific part of the video.</li>
                    <li>Please ignore any advertisements that may play during the YouTube video. Use of an ad-blocker is highly suggested (for speed, so you don't have to wait for ads to play) but not required.</li>
                  </ul>
                </li>
                <li>Determine which category your video falls into and follow the corresponding instructions (note, all categories are of equal importance and take the same amount of time to complete):
                  <ul>
                    <li>If you <b>SEE</b> the object that makes the sounds described by the label <b>AND</b> that object produces the described sounds <b>AT THE SAME TIME</b>:
                      <ul>
                        <li>Mark the <input type="radio" /> <b>SEE AND HEAR</b> radio button.</li>
                        <li>Use the <a href="#ann">annotator</a> under the video to mark <em>when</em> (accurate to the nearest 1-second) this occurs in the video.</li>
                        <li>Note: Still images CANNOT fall in this category.</li>
                        <li>Purpose: Videos in this category will go into our dataset. We want these videos.</li>
                        <li>Example: The label says 'Water'. For the whole video you hear splashing and rushing of water. Only during the 4th-7th seconds you actually see the water. You would select the 'SEE AND HEAR' option, and annotate the 4th-7th box in the annotator.</li>
                      </ul>
                    </li>
                    <li>If you <b>HEAR</b> the object that makes the sounds described by the label <b>BUT</b> that object <b>NEVER</b> appears in the video:
                      <ul>
                        <li>Mark the <input type="radio" /> <b>HEAR</b> radio button.</li>
                        <li>Use the <a href="#ann">annotator</a> under the video to mark <em>when</em> (accurate to the nearest 1-second) you hear the object.</li>
                        <li>Purpose: This category of videos will help us understand how the dataset we are pulling from was constructed. Finding these videos will verify the integrity of the dataset.</li>
                        <li>Example: The label says 'Fireworks'. The video is of the night sky, and at the last second you hear a boom. The video ends before you see any light, however. You would select the 'HEAR' option, and solely annotate the last box in the annotator.</li>
                      </ul>
                    </li>
                    <li>If you <b>SEE</b> the object that makes the sounds described by the label <b>BUT</b> that object <b>NEVER</b> produces the described sounds:
                      <ul>
                        <li>Mark the <input type="radio" /> <b>SEE</b> radio button.</li>
                        <li>Use the <a href="#ann">annotator</a> under the video to mark <em>when</em> (accurate to the nearest 1-second) you see the object.</li>
                        <li>Purpose: This category of videos will show us potential flaws in the dataset we are pulling from. These videos will help improve how researchers collect large quantities of data.</li>
                        <li>Example: The label says 'Tool'. The video shows a power-sander for the whole 10-second clip. The power-sander (a tool) is never turned (so no sound is produced). You would select the 'SEE' option, and annotate every box in the annotator.</li>
                      </ul>
                    </li>
                    <li>In the rare case where you SEE AND HEAR the object, but NEVER at the same time:
                      <ul>
                        <li>Decide which, <b>SEE</b> or <b>HEAR</b>, has more time in the video, and mark its corresponding <input type="radio" /> radio button. In the case of a tie, choose <b>SEE</b>.</li>
                        <li>Use the <a href="#ann">annotator</a> under the video to mark <em>when</em> (accurate to the nearest 1-second) you either see or hear the object.</li>
                        <li>Purpose: See the categories above.</li>
                        <li>Example: The label says 'Racecar'. The video starts black but you hear racecars for 3 seconds. The last 7 seconds of the video shows racecars driving but you never hear them. You would select the 'SEE' option (7 seconds &gt; 3 seconds), and annotate the last 7 boxes in the annotator.</li>
                      </ul>
                    </li>
                    <li>If the video is UNRELATED to the label:
                      <ul>
                        <li>Mark the <input type="radio" /> <b>UNRELATED</b> radio button.</li>
                        <li>Provide us, in the <input type="text" placeholder="Reason" /> textbox, an explanation for why the label is unrelated to the video.</li>
                        <li>Purpose: These videos will help us improve the dataset we are pulling from. The makers of the dataset we are pulling from want to know the bad videos.</li>
                        <li>Example: The label says 'Snoring'. The whole video is of a coffee-maker brewing a cup of coffee. Obviously the label is unrelated to the video, and you are confused because this rarely happens. You would select the 'UNRELATED' option, and explain in the textbox that the video showed a coffee-maker instead of a person snoring.</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>Click submit! Thank you for completing our HIT!</li>
              </ol>
              <p><b>Note</b>: If this is your first time doing these HITs, please tell us, in the first comments box, your favorite flavor of ice cream just so we know you read the instructions :) (you should only do this on your first time!).</p>
              <h4 id="ann">HOW TO USE THE ANNOTATOR:</h4>
              <p>Each box under the video indicates a 1 second segment. If the category you chose is present in a segment, click the box for that segment. To highlight a box, you would left click the box. To un-highlight a highlighted box, you would left click the box again. You can click and drag to highlight (and un-highlight) multiple boxes. Under each box is a button that seeks to that segment of the clip. When the video is playing, you should see a bright yellow in the box that the video is currently on. Here are the colors with their respective meaning:</p>
              <center>
                <table>
                  <tr height="50px">
                    <td width="200px" style="border: 1px solid black"></td>
                    <td width="30px"></td>
                    <td width="200px" class="selected" style="border: 1px solid black"></td>
                    <td width="30px"></td>
                    <td width="200px" class="current" style="border: 1px solid black"></td>
                    <td width="30px"></td>
                    <td width="200px" class="selected current" style="border: 1px solid black"></td>
                  </tr>
                  <tr>
                    <td>Not Selected</td>
                    <td></td>
                    <td>Selected</td>
                    <td></td>
                    <td>Not Selected</td>
                    <td></td>
                    <td>Selected</td>
                  </tr>
                  <tr>
                    <td>Video Not Playing Here</td>
                    <td></td>
                    <td>Video Not Playing Here</td>
                    <td></td>
                    <td>Video Playing Here</td>
                    <td></td>
                    <td>Video Playing Here</td>
                  </tr>
                </table>
              </center>
              <ul>
                <li>Example: if the label is 'Oink' and you see a pig in the clip and the pig oinks during the fourth and fifth second, you would highlight the fourth and fifth box.</li>
                <li>Example: if the label is 'Speech' and you see a person speaking during the whole clip, you would highlight every box.</li>
              </ul>
              <p>Here's a demo of the annotator (note, the HIT questions in the video may differ slightly):</p>
              <center>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/ybfv2-2l3Jk"></iframe>
              </center>
              <h4>ABOUT US:</h4>
              <p>Our names are <a href="http://terpconnect.umd.edu/~jugoodma" target="_blank">Justin Goodman</a> and Marc Moore. We are undergraduate researchers working on a data-expansion research project for University of Rochester's <a href="http://www.sas.rochester.edu/dsc/undergraduate/reu.html" target="_blank">Computational Methods</a> <a href="https://www.nsf.gov/crssprgm/reu/" target="_blank">REU</a> program. We are working under Dr. Chenliang Xu, a well-established computer vision researcher. We are pulling from the <a href="https://research.google.com/audioset/" target="_blank">Google AudioSet</a> dataset, which has over 2 million 10-second clips labeled with the sounds heard in each clip. Thank you for helping us complete our research project!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Instructions -->
  <hr />
  <!-- Video Annotator -->
  <div class="row" id="workContent">
    <div class="col-md-8">
      <h3 id="ass">Assignment:</h3>
      <iframe id="player" width="640" height="360" src="https://www.youtube.com/embed/${ytid}?enablejsapi=1&amp;start=${start}&amp;end=${end}" style="pointer-events: none;"></iframe>
      <br /><br />
      <!-- Worker input -->
      <table id="response-bar" onmouseup="stop();" ondragstart="return false;" ondrop="return false;" width="640px"></table>
      <p class="hide" id="errorMessage">Please indicate when the Audio-Visual Event occured.</p>
      <button class="btn btn-primary" type="button" id="play">Play Video</button>
      <br />
      <div id="response-form" class="form-group" style="display: none;">
        <!-- why are you looking here, get out! -->
        <input name="identifier" type="hidden" value="temporal" />
        <input name="ytid" type="hidden" value="${ytid}" />
        <input name="clickedPlay" type="hidden" value="0" id="dummy" />
        <input name="clickedInstructions" type="hidden" value="0" id="instr" />
        <input name="youtubeError" type="hidden" value="0" id="yt-error" />
        <input name="userAgent" type="hidden" value="" id="ua" />
      </div>
    </div>
    <!-- Worker input -->
    <div class="col-md-4">
      <h4>Label for this video: <b>${label}</b></h4>
      <h5>Description for this label:</h5>
      <p>${description}</p>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" id="radioNotContains" type="radio" name="contains" value="0" onclick="longDong(0);" />
            <b>UNRELATED</b> (The label and video are completely UNRELATED, I DO NOT SEE the object, AND I DO NOT HEAR that object, that makes sounds described by the label)
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" id="radioContains" type="radio" name="contains" value="1" required onclick="longDong(1);" />
            <b>SEE AND HEAR</b> (I SEE the object that makes the sounds described by the label AND I HEAR that object making those sounds at the same time)
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" id="radioSee" type="radio" name="contains" value="-1" onclick="longDong(1);" />
            <b>SEE</b> (I SEE the object that makes the sounds described by the label BUT I NEVER HEAR that object make those sounds)
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" id="radioHear" type="radio" name="contains" value="-2" onclick="longDong(1);" />
            <b>HEAR</b> (I HEAR the object that makes the sounds described by the label BUT I NEVER SEE that object in the video)
          </label>
        </div>
        <br />
        <label>If you clicked 'UNRELATED', please specify why:</label>
        <input type="text" id="label-input" class="form-control" name="reason" placeholder="Reason" />
        <br />
        <label>Comments on this assignment (optional):</label>
        <textarea class="form-control" name="comments" rows="2" cols="250"></textarea>
        <br />
        <label>Comments to improve these HITs (optional):</label>
        <textarea class="form-control" name="improve" rows="2" cols="250"></textarea>
      </div>
      <!-- this is the 'check' button to check if the user actually annotated -->
      <button id="checkButton" class="submit btn btn-primary" type="button">Submit Answer</button>
      <!-- this is the actual submit button -->
      <input type="submit" id="submitButton" style="display: none;" />
    </div>
  </div>
  <!-- End Video Annotator -->
</section>

<!-- Open internal style sheet -->
<style type="text/css">
  #checkButton {
    white-space: normal;
  }
  /* CSS for breaking long words/urls */
  .dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
</style>
<!-- REU-2018 style code -->
<style>
  label {
    font-weight: 100 !important;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
    color: red;
  }
  .selected {
    background: rgba(0, 0, 255, 0.8);
  }
  .current {
    background: rgba(255, 255, 0, 0.8);
  }
  .selected.current {
    background: rgba(69, 255, 69, 0.9);
  }
  table {
    margin-bottom: 10px;
    border-collapse: collapse;
    text-align: center;
  }
  #rowOne > td {
  border: 1px solid blue;
    height: 50px;
  }
  #rowTwo > td {
    border-style: none;
    margin-bottom: 10px;
  }
  td > button {
    margin-top: 5px;
  }
</style>
<!-- End REU-2018 style code -->
<!-- End internal style sheet -->
<!-- External JS references -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- REU-2018 script code -->
<script type="text/javascript">
  // --- general variables
  var timer;
  var min;
  var sec;
  var i;
  var num_cells = ${end} - ${start}; // divided by window
  var selector = false;
  var eraser = false;
  var prev = -1; // the previous selected 
  var t; // the current selected
  var first = true;
  var ischecked = false;
  // --- document object variables
  var tbl = $("#response-bar");
  var form = $("#response-form");
  var tbl_row = $(document.createElement("tr")).attr({'id': 'rowOne'});
  var info_row = $(document.createElement("tr")).attr({'id': 'rowTwo'});
  var inputRes = [num_cells]; // array of input objects
  var locRes = [num_cells]; // array of location objects
  var dummy = $("#dummy");
  var lblInput = $("#label-input");
  var tag = document.createElement('script');
  var firstScriptTag;
  var player;
  var err = $("#yt-error");
  var playButton = $("#play").on('click', play);
  var instr = $("#instr");
  // --- runtime script code
  // get user agent
  $('#ua').val(window.navigator.userAgent);
  $('#checkButton').on('click', checkAnn);
  // set onclick for instructions
  $('#instrLink').on('click', instrClicked);
  // youtube api code
  // load youtube api
  tag.id = 'yt-api';
  tag.src = 'https://www.youtube.com/iframe_api';
  firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  window.onYouTubeIframeAPIReady = function() {
    player = new YT.Player('player', {events: {'onReady': ready, 'onStateChange': change, 'onError': error}});
  };
  // generate response bar and corresponding form data
  // NOTE: assuming 1-second window. Change this if the window length changes!
  // NOTE: also assuming 1-second intervals. Change this if the interval changes!
  for (i = 0; i < num_cells; i++) {
    // table
    locRes[i] = $(document.createElement("td")).attr({
      'id': 'loc-' + i,
      'onmouseover': 'hover(' + i + ');',
      'onmousedown': 'start(' + i + ');',
      'data-selected': false
    }).appendTo(tbl_row);
    // info (still table)
    info_row.append(
      $(document.createElement("td")).append(
        $('<button type="button"></button>').attr({'class': 'btn btn-primary'}).on('click', {pos: i}, seek).html(secToMin(${start} + i))
      )
    );
    // form
    inputRes[i] = $('<input type="hidden" />').attr({
      'id': 'input-' + i,
      'name': 'loc-' + i,
      'value': 0
    }).appendTo(form);
  }
  tbl.append(tbl_row);
  tbl.append(info_row);
  // --- functions
  // if 'does not contain' is selected then label-input is required
  // else the user must select at least one annotation box
  function longDong(num) {
    if (num === 0) {
      lblInput.attr('required', 'required');
      ischecked = false;
    } else {
      lblInput.removeAttr('required');
      ischecked = true;
    }
  }
  // translates number of seconds to readable time
  function secToMin(time) {
    min = Math.floor(time / 60);
    sec = time - min * 60;
    if (sec < 10) {
      sec = "0" + sec;
    }
    return min + ":" + sec;
  }
  function instrClicked() {
    instr.val(1);
  }
  function checkAnn() {
    if (ischecked) {
      for (i = 0; i < num_cells && inputRes[i].val() === '0'; i++) {}
      if (i < num_cells) {
        // user put in at least one annotation, yay!
        $('#errorMessage').removeClass('show').addClass('hide');
        $('#submitButton').click();
      } else {
        // user did not annotate, BAD :()
        $('#errorMessage').removeClass('hide').addClass('show');
      }
    } else {
      $('#submitButton').click();
      $('#errorMessage').removeClass('show').addClass('hide');
    }
  }
  // handler code for time-step coloring
  function start(num) {
    selector = true;
    eraser = locRes[num].attr('data-selected') === 'true';
    hover(num);
  }
  function hover(num) {
    if (selector) {
      if (eraser) {
        locRes[num].attr({'data-selected': false}).removeClass('selected');
        inputRes[num].val(0);
      } else {
        locRes[num].attr({'data-selected': true}).addClass('selected');
        inputRes[num].val(1);
      }
    }
  }
  function stop() {
    selector = false;
  }
  // event functions
  function ready(event) {
    player.unMute();
  }
  function change(event) {
    if (event.data == YT.PlayerState.ENDED) {
      player.loadVideoById({'videoId': '${ytid}','startSeconds': ${start},'endSeconds': ${end},'suggestedQuality': 'large'});
    }
  }
  function error(event) {
    err.val(1);
  }
  // control functions
  function vidStatus() {
    t = Math.floor(player.getCurrentTime()) - ${start} + 0; // current time in video - start time for clip
    // console.log("vidStatus curr time: " + t);
    if (t != prev) {
      // console.log("vidStatus updating current box highlight");
      prev = t;
      locRes[t].addClass('current');
      locRes[(t === 0 ? num_cells : t) - 1].removeClass('current');
    }
  }
  function play(ele) {
    player.playVideo();
    if (first) {
      first = false;
      dummy.val(1);
    }
    playButton.off().on('click', pause).html('Pause Video');
    timer = setInterval(vidStatus, 200);
  }
  function pause(ele) {
    player.pauseVideo();
    playButton.off().on('click', play).html('Play Video');
    clearInterval(timer);
  }
  function seek(event) {
    player.seekTo(${start} + event.data.pos);
    if (first) {
      player.pauseVideo();
    } else {
      locRes[prev].removeClass('current');
    }
    prev = event.data.pos;
    locRes[event.data.pos].addClass('current');
  }
</script>
<!-- End REU script -->
